.wbdCv-baseLeft{float:left; width:270px; height:inherit; padding:20px 16px 40px 30px; background:#254665; color:#fff;}
.wbdCv-baseRight{float:right; width:550px; padding:10px 30px 40px 30px; background:#fff;}
.wbdCv-baseRight .baseItem.template_css dt a.wbdfont{width:30px; height:30px; line-height:32px; margin-right:10px; border-radius:50%; background:#254665; color:#fff; text-align:center;}
.wbdCv-baseRight .baseItem.template_css dt span{width:448px; height:30px; line-height:27px; border-bottom:1px solid #254665;}
.wbdCv-baseRight .baseItem.template_css dt{padding-bottom:15px;}
.wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{float:left; display:inline-block; width:30px; height:30px; line-height:32px; margin-right:5px; border-radius:50%; background:#fff; color:#254665; text-align:center;}
.wbdCv-baseLeft .baseItem.template_css dt span{float:left; width:173px;}
.wbdCv-baseLeft .baseItem-null{color:#fff;}
.wbdCv-baseLeft .baseItem.template_css dl dt{padding-bottom:13px;}
.wbdCv-baseLeft .hobbyItem.template_css dl dt{padding-bottom:8px;}

/*求职信息模块不受块距控制*/
.wbdCv-baseStyle .inteItem dl{padding:20px 0;}

/*封面*/
.wbdCv-cover .coverItem{position:absolute; top:854px; left:0; width:360px; padding-left:20px; font-size:16px; color:#fff;}

/*自荐信*/
.wbdCv-letter .letterItem{line-height:30px;}

/*头像 不做模板模块辨识处理*/
.wbdCv-baseStyle .headItem.template_css{margin-bottom:0;}

/*姓名*/
.wbdCv-baseStyle .nameItem.template_css .name-con .name{display:inline-block; height:30px; line-height:29px; padding-right:10px; font-size:30px; color:#414141;}
.wbdCv-baseStyle .nameItem.template_css .name-con .word{display:block; margin-top:10px;}

/*标签*/
.wbdCv-baseStyle .nameItem.template_css .name-con .resume_tag{display:inline-block;}
.nameItem.template_css .name-con .resume_tag span:nth-child(1){border-color:#00c091; color:#00c091;}
.nameItem.template_css .name-con .resume_tag span:nth-child(2){border-color:#ff7272; color:#ff7272;}
.nameItem.template_css .name-con .resume_tag span:nth-child(3){border-color:#404552; color:#404552;}

/*基本信息*/
.wbdCv-baseStyle .infoItem.template_css{margin-top:10px;}
.wbdCv-baseStyle .infoItem.template_css .info-con a.wbdfont, .homeItem.template_css .home-con a.wbdfont{float:left; display:inline-block; width:20px; line-height:23px; margin-right:5px; border-radius:100%; color:#ffffff; text-align:center;}
.wbdCv-baseStyle .infoItem.template_css .info-con div{margin:0 0 10px 0;}
.wbdCv-baseStyle .infoItem.template_css .info-list span{width:181px;}
.wbdCv-baseStyle .homeItem.template_css{margin-top:-5px;}
.wbdCv-baseStyle .homeItem.template_css .home-con .home-list{margin:7px 0;}
.wbdCv-baseStyle .homeItem.template_css dl{padding-top:20px;}

/*社交账号*/
.wbdCv-baseStyle .socialItem.template_css{margin-top:-5px;}
.wbdCv-baseStyle .socialItem.template_css dl{padding-bottom:30px;}
.wbdCv-baseStyle .socialItem.template_css .social-list{position:relative; margin:0;}

/*职业技能*/
.wbdCv-baseLeft .baseItem.skillItem{width:225px;}

/*兴趣爱好*/
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list{margin:10px 30px 0 0;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list a.wbdfont{display:block; width:60px; height:60px; line-height:60px; border:1px solid rgba(255,255,255,0.4); border-radius:4px; font-size:28px; text-align:center;}
.wbdCv-baseStyle .hobbyItem.template_css .hobby-list .hobby-title{width:60px;}
.wbdCv-baseRight .hobbyItem.template_css .hobby-list{margin-right:33px;}
.wbdCv-baseRight .hobbyItem.template_css .hobby-list a.wbdfont{border-color:#92a2b2;}
.wbdCv-baseRight .hobbyItem.template_css .hobby-list:nth-child(5n+1){margin-right:0;}

/*作品集*/
.wbdCv-baseStyle .workItem .work-list{width:232px; margin-right:24px; border:1px solid #e9e9e9;}
.wbdCv-baseStyle .workItem .work-list .work-img{width:230px; height:184px; overflow:hidden;}
.wbdCv-baseStyle .workItem .work-list .work-img img{display:block; width:100%;}
.wbdCv-baseStyle .workItem .work-list:nth-of-type(even){margin-right:0;}
.wbdCv-baseLeft .workItem .work-list{width:100%; border:1px solid #e9e9e9;}
.wbdCv-baseLeft .workItem .work-list .work-img{width:100%; height:160px;}
.wbdCv-baseLeft .workItem .link-list{background-color:rgba(255,255,255,0.2);}
.wbdCv-baseLeft .workItem .work-list span.work-title{color:#fff;}

/*颜色设置 不做模板模块辨识处理*/
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background:url(../images/jf/jf0001_j1.jpg) no-repeat top center; background-size:cover;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background:url(../images/jf/jf0001_j2.jpg) no-repeat top center; background-size:cover;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background:url(../images/jf/jf0001_j3.jpg) no-repeat top center; background-size:cover;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background:url(../images/jf/jf0001_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background:url(../images/jf/jf0001_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background:url(../images/jf/jf0001_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background:url(../images/jf/jf0001_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background:url(../images/jf/jf0001_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background:url(../images/jf/jf0001_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background:url(../images/jf/jf0001_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background:url(../images/jf/jf0001_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background:url(../images/jf/jf0001_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background:url(../images/jf/jf0001_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background:url(../images/jf/jf0001_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background:url(../images/jf/jf0001_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j1.jpg) no-repeat top center; background-size:cover;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background:url(../images/zjx/zjx0005_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft{background:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft{background:#254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft{background:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft{background:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft{background:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft{background:#292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft{background:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft{background:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft{background:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft{background:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft{background:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft{background:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft{background:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft{background:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft{background:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft .baseItem.template_css dt a.wbdfont{color:#69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#0b70bd;}
.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .baseItem.template_css dt span{color:#0b70bd; border-color:#0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#254665;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .baseItem.template_css dt span{color:#254665; border-color:#254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#589bf7;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .baseItem.template_css dt span{color:#079cfa; border-color:#589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#ff7171;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .baseItem.template_css dt span{color:#ff7171; border-color:#ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#37b754;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .baseItem.template_css dt span{color:#37b754; border-color:#37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#292929;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .baseItem.template_css dt span{color:#292929; border-color:#292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#ee7000;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .baseItem.template_css dt span{color:#ee7000; border-color:#ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#a29177;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .baseItem.template_css dt span{color:#aa9276; border-color:#a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#da180f;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .baseItem.template_css dt span{color:#da180f; border-color:#da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#6b4b24;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .baseItem.template_css dt span{color:#6b4b24; border-color:#6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#048BB3;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .baseItem.template_css dt span{color:#048BB3; border-color:#048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#5974D4;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .baseItem.template_css dt span{color:#5974D4; border-color:#5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#9D57CA;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .baseItem.template_css dt span{color:#9D57CA; border-color:#9D57CA;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#d4ba38;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .baseItem.template_css dt span{color:#d4ba38; border-color:#d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .baseItem.template_css dt a.wbdfont{background:#69cc41;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .baseItem.template_css dt span{color:#69cc41; border-color:#69cc41;}